# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
poetry.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project files
output/
*.xlsx
*.csv
*.log

# Environment variables
.env

# OS
.DS_Store
Thumbs.db